/*body {
    padding-top: 70px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. 
}*/

/*footer {
    margin: 50px 0;
}*/

.well li.cat-item{
	list-style: none;
}

.navigation{
	text-align: center;
}

.navigation a,
.navigation span{
	display: inline-block;
}

.navigation a:hover{
	background-color: #eee;
	text-decoration: none;
}

.navigation a.next{
	float: right;
}

.navigation a.prev{
	float: left;
}

.navigation a.page-numbers,
.navigation span.page-numbers{
	font-size: 14px;
	border:1px solid #ddd;
	border-radius: 15px;
	padding: 5px 11px;
}

.navigation span.current{
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}